<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
        <hibernate-configuration>
	<session-factory>
	<!-- JDBC config -->
		<property name = "hibernate.connection.username">postgres</property>
		<property name = "hibernate.connection.password">Password</property>
		<property name = "hibernate.connection.url">jdbc:postgresql://javafs200803.cb2jxgoiogdh.us-west-1.rds.amazonaws.com:5432/project2</property>
		<property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<!-- Additional Hibernate Properties -->
		<property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- This will print the sql querier hibernate makes to the console -->
		<property name = "hibernate.show_sql">true</property>
		<property name = "hibernate.format_sql">true</property>
		<property name = "hibernate.hbm2ddl.auto">update</property>
		
		<!-- Now we need our mappings -->
		
		<mapping class = "com.revature.models.Character"/>
		<mapping class = "com.revature.models.Class"/>
		<mapping class = "com.revature.models.Feature"/>
		<mapping class = "com.revature.models.Item"/>
		<mapping class = "com.revature.models.Background"/>
		<mapping class = "com.revature.models.User"/>
		<mapping class = "com.revature.models.Campaign"/>
		<mapping class = "com.revature.models.Race"/>
		<mapping class = "com.revature.models.Attribute"/>
		<mapping class = "com.revature.models.Skill"/>
		<mapping class = "com.revature.models.HitPoints"/>
		<mapping class = "com.revature.models.Attack"/>
		<mapping class = "com.revature.models.Dice"/>
		<mapping class = "com.revature.models.Spell"/>
		<mapping class = "com.revature.models.SpellSlots"/>
		<mapping class = "com.revature.models.Currency"/>
			
	</session-factory>
</hibernate-configuration>